---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                     Hero                     -->
    <!-- ============================================ -->

    <section id="hero-1946">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title"></h2>
                <div class="cs-flex">
                    <p class="cs-text">Art is my passion, my soul.</p>
                    <a href="/project-two" class="cs-button-solid">See More</a>
                </div>
            </div>
            <picture class="cs-picture">
                <source media="(min-width: 601px)" srcset="assets/images/starry-night.jpg">
                <source media="(max-width: 600px)" srcset="assets/images/starry-night.jpg">
                <img decoding="async" src="assets/images/starry-night.jpg" alt="starry night by Vincent Van Gogh" width="1280" height="510">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tool.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Sculpting</h3>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/hard-hat.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Photography</h3>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/double-bed.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Painting</h3>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/building.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Drawing</h3>
                    </div>
                </li>
            </ul>
        </div>
    </section>     
    
    <!-- ============================================ -->
    <!--                  Gallery                     -->
    <!-- ============================================ -->

    <section id="gallery-1716">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">about me</span>
                <h2 class="cs-title">Who I Am</h2>
                <!--If you remove the cs-text, the rectangle shape will disappear.  If you need to remove it, transfer the :before and .cs-text:last-of-type styles to the cs-title on mobile and desktop-->
                <p class="cs-text">
                    I am an experienced fine artist. My pieces can be seen in many art musuems, such as the Metropolitan Museum of Art. 
                </p>
                <a href="" class="cs-button-solid">View All</a>
            </div>
            <div class="cs-gallery">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="assets/images/her.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="assets/images/her.webp">
                    <img loading="lazy" decoding="async"
                            src="assets/images/her.webp" alt="impressionist painting of woman"
                            width="480" height="549">
                </picture>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="assets/images/venus.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="assets/images/venus.jpg">
                    <img loading="lazy" decoding="async"
                            src="assets/images/venus.jpg" alt="picture"
                            width="480" height="549">
                </picture>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="assets/images/pearl.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="assets/images/pearl.webp">
                    <img loading="lazy" decoding="async"
                            src="assets/images/pearl.webp" alt="picture"
                            width="480" height="549">
                </picture>
            </div>
        </div>
    </section>                    

    <!-- ============================================ -->
    <!--              Side By Side Reverse            -->
    <!-- ============================================ -->

    <section id="RPsbsr-1587">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets/images/impression.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets/images/impression.jpg">
                <img loading="lazy" decoding="async" src="assets/images/impression.jpg" alt="models" width="586" height="690">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">background</span>
                <h2 class="cs-title">My History</h2>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">01</span>
                            <h3 class="cs-h3">
                                BA California Insitute of the Arts
                            </h3>
                        </div>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">02</span>
                            <h3 class="cs-h3">
                                Graduate at Rhode Island School of Design
                            </h3>
                        </div>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">03</span>
                            <h3 class="cs-h3">
                                5 Years Experience at Disney Background Artist
                            </h3>
                        </div>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">04</span>
                            <h3 class="cs-h3">
                                Exhibits in Art Museums Across the Globe
                            </h3>
                        </div>
                    </li>
                </ul>
                <a href="" class="cs-button-solid">View All Collections</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-45">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Gallery</span>
                <h2 class="cs-title">Some Of My Works</h2>
                <p class="cs-text">
                    "I dream my painting, and then I paint my dream" - Vincent Van Gogh
                </p>
            </div>
            <ul class="cs-image-group">
                <!-- Image 1 -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/merchants.jpeg">
                        <source media="(min-width: 601px)" srcset="assets/images/merchants.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/merchants.jpeg" alt="merchant painting" width="346" height="346">
                    </picture>
                </li>
                <!-- Image 2 -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/moses.webp">
                        <source media="(min-width: 601px)" srcset="assets/images/moses.webp">
                        <img loading="lazy" decoding="async" src="assets/images/moses.webp" alt="moses sculpture" width="346" height="346">
                    </picture>
                </li>
                <!-- Image 3 -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/skull.webp">
                        <source media="(min-width: 601px)" srcset="assets/images/skull.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/skull.webp" alt="skull drawing" width="346" height="346">
                    </picture>
                </li>
                <!-- Image 4 -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/man.jpeg">
                        <source media="(min-width: 601px)" srcset="assets/images/man.jpeg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/man.jpeg" alt="man painting" width="346" height="346">
                    </picture>
                </li>
                <!-- Image 5 -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/mozart.jpg">
                        <source media="(min-width: 601px)" srcset="assets/images/mozart.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/mozart.jpg" alt="mozart painting" width="346" height="346">
                    </picture>
                </li>
                <!-- Image 6 -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/raft-medusa.jpg">
                        <source media="(min-width: 601px)" srcset="assets/images/raft-medusa.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/raft-medusa.jpg" alt="raft of medusa painting" width="346" height="346">
                    </picture>
                </li>
                <!-- Image 7 -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/water-lilies.jpg">
                        <source media="(min-width: 601px)" srcset="assets/images/water-lilies.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/water-lilies.jpg" alt="monet's water lilies painting" width="346" height="346">
                    </picture>
                </li>
                <!-- Image 8 -->
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/mary-jesus.jpg">
                        <source media="(min-width: 601px)" srcset="assets/images/mary-jesus.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/mary-jesus.jpg" alt="mary and jesus sculpture" width="346" height="346">
                    </picture>
                </li>
            </ul>
            <a href="" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>
                                
                                    
    {% include 'components/cta.html' %}
{% endblock %}