/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-712 {
        /* 175px - 200px top */
        padding: clamp(10.9375rem, 10vw, 12.5rem) calc(16 / 16 * 1rem)
            calc(100 / 16 * 1rem);
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.75;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-712 {
        .cs-background {
            &:before {
                opacity: 1;
                background: linear-gradient(
                    90.01deg,
                    rgba(0, 0, 0, 0.9) 16.86%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
        }
    }
}                               

/*-- -------------------------- -->
<---        Why Choose Us       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1662 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 3.9vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: 0;
            max-width: 23ch;
        }

        .cs-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* 16px - 32px */
            gap: clamp(1rem, 3.2vw, 2rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 16px - 32px */
            gap: clamp(1rem, 2vw, 2rem);
        }

        .cs-item {
            list-style: none;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-item-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-item-number {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-floater {
            /* 246px - 582px */
            width: clamp(15.375rem, 50vw, 36.375rem);
            height: auto;
            position: absolute;
            right: calc(-64 / 16 * 1rem);
            top: calc(-8 / 16 * 1rem);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1662 {
        .cs-wrapper {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-1662 {
            background-color: rgba(0, 0, 0, .2);

            .cs-title,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text {
                opacity: 0.8;
            }

            .cs-floater {
                opacity: 0.1;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1518 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: var(--secondary);
            opacity: .05;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
        }
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
            max-width: 19ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1.8vw, 1.25rem);
        }
        
        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(462 / 16 * 1rem);
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            transition: border-color .3s;

            &:hover {
                .cs-wrapper {
                    border-color: var(--secondary);
                }

                .cs-mask {
                    --maskBorder: var(--secondary);
                }

                .cs-button-solid {
                    background-color: var(--secondary);
                }
            }
        }

        .cs-flex {
            text-align: center;
            margin-bottom: calc(-32 / 16 * 1rem);
            padding: calc(48 / 16 * 1rem) calc(32 / 16 * 1rem);
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            position: relative;
            z-index: 10;
        }

        .cs-desc {
            font-size: calc(20 / 16 * 1rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-h3 {
            font-size: calc(31 / 16 * 1rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-mask {
            --maskBG: #fff;
            --maskBorder: #e8e8e8;

            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;

            path {
                transition: stroke .3s;
            }
        }

        .cs-wrapper {
            height: 100%;
            /* 24px - 40px left & right */
            /* 24px - 32px bottom */
            padding: calc(40 / 16 * 1rem) clamp(1.5rem, 3.5vw, 2.5rem) clamp(1.5rem, 3vw, 2rem);
            box-sizing: border-box;
            background-color: #fff;
            overflow: hidden;
            border-radius: calc(32 / 16 * 1rem);
            border: 1px solid #e8e8e8;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            transition: border-color .3s;
        }

        .cs-ul {
            /* 24px - 40px */
            padding:  0 0 clamp(1.5rem, 3vw, 2.5rem) 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 8px - 12px */
            gap: clamp(.5rem, 1.5vw, .75rem);
            position: relative;
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: space-between;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);

            &.cs-disabled {
                opacity: .5;

                .cs-icon {
                    filter: grayscale(1) brightness(300%);
                }
            }
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-info {
            margin-top: auto;
            /* 16px - 24px */
            padding-top: clamp(1rem, 2vw, 1.5rem);
            box-sizing: border-box;
            border-top: 1px solid #E8E8E8;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-price {
            /* 31px - 39px */
            font-size: clamp(1.9375rem, 4vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: #767676;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }

        .cs-duration {
            font-size: calc(20 / 16 * 1rem);
            display: block;
            transform: translateY(.14rem);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            padding: 0 calc(32 / 16 * 1rem);
            border-radius: calc(50 / 16 * 1rem);
            background-color: var(--primary);
            overflow: hidden;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-blob {
            opacity: .1;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }

        .cs-button-solid {
            width: 100%;
            transition: background-color .3s;
        }

        .cs-background {
            --backgroundBG: #fff;

            width: 100%;
            min-width: calc(1920 / 16 * 1rem);
            height: auto;
            position: absolute;
            left: 0;
        }

        .cs-background-top {
            top: 0;
        }

        .cs-background-bottom {
            bottom: 0;
            transform: rotateX(180deg);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #pricing-1518 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: nowrap;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #pricing-1518 {
        .cs-info {
            flex-direction: row;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-1518 {
            .cs-title, .cs-text, .cs-li, .cs-price, .cs-desc, .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-desc {
                opacity: .8;
            }

            .cs-wrapper {
                background-color: rgba(0, 0, 0, .4);
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-info {
                border-color: rgba(255, 355, 255, .2);
            }

            .cs-mask {
                --maskBG: var(--dark);
                --maskBorder: var(--accent);
            }

            .cs-icon {
                /* makes icon white (if it wasnt black to start) */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-button-solid {
                &:hover {
                    color: var(--primary);
                }

                &:before {
                    background-color: #fff;
                }
            }

            .cs-background {
                --backgroundBG: var(--dark);
            }
        }
    }
}
                                