/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-1587, #RPsbsr-1587 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        background-color: #ffe0e0;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(584/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(2.5rem, 6vw, 4rem);
        }

        .cs-picture {
            width: 100%;
            height: clamp(25rem, 80vw, 47rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(630/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            justify-content: center;
        }

        .cs-title {
            /* 26 characters wide including spaces */
            max-width: 26ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            /* 550px - 630px */
            max-width: clamp(34.375rem, 50vw, 39.375rem);
            padding: 0;
            /* 24px - 40px */
            margin: clamp(1.5rem, 4vw, 2.5rem) 0 clamp(1.75rem, 4vw, 2.5rem) 0;
            display: grid;
            align-items: center;
            gap: clamp(1rem, 4vw, 2.5rem);
        }

        .cs-item {
            list-style: none;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(12/16 * 1rem);
        }

        .wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: calc(10/16 * 1rem);
        }

        .cs-item-number {
            font-size: calc(20/16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8/16 * 1rem);
        }

        .cs-h3 {
            font-size: calc(18/16 * 1rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8/16 * 1rem);
        }

        .cs-item-text {
            font-size: calc(14/16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            line-height: 3.5em;
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            width: auto;
            margin: 0;
            color: #fff;
            padding: 0 calc(48/16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: var(--secondary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
            }

            &:hover:before {
                width: 100%;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbs-1587, #RPsbsr-1587 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
        .cs-content {
            width: 50%;
            max-width: calc(630/16 * 1rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }
        .cs-card-group {
            grid-template-columns: repeat(12, 1fr);
        }
        .cs-item {
            grid-column: span 6;
        }
        .cs-picture {
            height: auto;
            min-height: calc(525/16 * 1rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-1587, #RPsbsr-1587 {
        .cs-content {
            padding: calc(84/16 * 1rem) 0;
            align-self: center;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-1587, #RPsbsr-1587 {
            .cs-topper {
                color: var(--primary);
            }

            .cs-title,
            .cs-li,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-li,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-h3 {
                color: var(--bodyTextColorWhite);
                font-family: "Volkhov", Arial, sans-serif;
            }
        }
    }
}

/*-- -------------------------- -->
<---         Gallery            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-1716 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-color: #fff5db;
        
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                /* 32px - 64px */
                margin-bottom: clamp(2rem, 7vw, 4rem);

                &:before {
                    /* colored overlay rectangle - positioned absolute to the section tag because it is the nearest parent with a decalred position relative */
                    content: '';
                    width: 100%;
                    height: 80%;
                    background: var(--primary);
                    opacity: .1;
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                }
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--secondary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-gallery {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* sends it to the top in the 1st position */
            order: -1;
        }

        .cs-picture {
            width: 100%;
            /* changes at tablet */
            height: 100vw;
            max-height: calc(400 / 16 * 1rem);
            display: block;
            position: relative;
            z-index: 1;
            grid-column: span 4;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-1716 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            max-width: calc(304 / 16 * 1rem);
            /* 32px - 64px, ensures theres always a gap at the bottom to space out the content from the bottom of the container and let the colored rectangle shape be a little bigger and take up more space */
            padding-bottom: clamp(2rem, 7vw, 4rem);
        }

        .cs-text {
            &:last-of-type {
                /* add position relative so the colored rectangle is now absolutely positioned to the cs-text parent. We also only want these styles on the last paragraph tag */
                position: relative;
                z-index: 1;

                &:before {
                    width: 250vw;
                    height: 100vw;
                    top: calc(100% + 1.8rem);
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .cs-gallery {
            height: auto;
        }

        .cs-picture {
            height: 100%;
            max-height: 100%;
            /* 280px - 420px */
            min-height: clamp(17.5rem, 37vw, 26.25rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-1716 {
            background-color: #082032;

            .cs-title, .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: .8;

                &:last-of-type {
                    &:before {
                        background-color: rgba(0, 0, 0, .3);
                        opacity: 1;
                    }
                }
            }
        }
    }
}
    
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-1587 {
        background-color: #ffe0e0;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbsr-1587 {
        .cs-picture {
            order: 2;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbsr-1587 {
            background-color: rgba(0, 0, 0, .2);
        }
    }
}
                                
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-45 {
        padding: var(--sectionPadding);
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
        background-color: #cce6ff;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-image-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            margin: 0;
            position: relative;
            display: block;

            &:hover {
                .cs-hover-box {
                    opacity: 1;
                }

                .cs-icon {
                    /* return to original position */
                    transform: rotateY(0);
                }

                .cs-h3 {
                    opacity: 1;
                    /* Return to original position */
                    transform: translateY(0);
                }

                .cs-hover-box-text {
                    opacity: 1;
                    /* Return to original position */
                    transform: translateY(0);
                }
            }
        }

        .cs-picture {
            margin: auto;
            width: 100%;
            height: 100%;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--secondary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
    #gallery-45 {
        .cs-image-group {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-45 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-45 {
            background-color: #262626;

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }
        }
    }
}

                                
